<script>
    import Navbar from "$lib/header/Navbar.svelte";
</script>

<svelte:head>
    <meta property="og:title" content="Error! || Siv Kyne" />
    <meta property="og:description" content="You did an oopsie!!" />
    <title>About || Siv Kyne</title>
</svelte:head>

<main class="flex flex-col gap-5">
    <Navbar page="error" />

    <section class="container bg-gray-800 rounded-lg shadow-lg p-5 flex flex-col gap-5">
        <h1 class="text-xl font-bold">
            *beep boop* Unexpected Error!
        </h1>
        <hr/>
        <p class="text-lg">
            The website encountered some kind of problem.
            It is likely you've navigated to the wrong place, or copied a link from the Commission Picker that is no longer compatible.
        </p>
    </section>
</main>