<script>
	import Footer from "$lib/footer/Footer.svelte";
	import Header from "$lib/header/Header.svelte";
	import "../app.css";
</script>

<svelte:head>
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://sivkyne.xyz" />
	<meta property="og:image" content="https://sivkyne.xyz/pic.png" />
	<meta name="theme-color" content="rgb(244 63 94)">
</svelte:head>

<main class="bg-green-600 text-white relative w-screen bg-cover bg-fixed" style="background-image: url('/bg2.png')">
	<div class="absolute inset-0 z-0 overflow-y-hidden">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
			<path fill="rgb(244 63 94)" fill-opacity="1" d="M0,288L30,272C60,256,120,224,180,186.7C240,149,300,107,360,101.3C420,96,480,128,540,154.7C600,181,660,203,720,229.3C780,256,840,288,900,304C960,320,1020,320,1080,304C1140,288,1200,256,1260,224C1320,192,1380,160,1410,144L1440,128L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path>
		</svg>
		<div class="bg-gradient-to-b from-rose-500 via-pink-800 to-slate-900 -mt-1 z-10 h-screen"></div>
		<div class="bg-slate-900 h-full">
			<div style="background-image: url('/bg3.png')" class="h-full bg-cover bg-opacity-1 blur-xl"></div>
		</div>
	</div>

	<article class="px-3 lg:px-0 py-0 flex flex-col gap-10 h-full">
		<div class="flex flex-col justify-start gap-10 min-h-screen z-50">
			<Header />
			<span class="loadanim">
				<slot />
				<Footer />
			</span>
		</div>
	</article>
</main>

<style>
    .loadanim {
        animation: loadanim;
        animation-duration: 0.4s;
        animation-timing-function: ease-in-out;
    }

    @keyframes loadanim {
        0% {
            transform: translateY(50vh);
        }
        50% {
            transform: translateY(-1vh);
        }
        100% {
            transform: translateY(0);
        }
    }
</style>