<script>
    import Navbar from "$lib/header/Navbar.svelte";
    import words from "$lib/en-lang.json";

    let lang = words["about"];
</script>

<svelte:head>
    <meta property="og:title" content={lang["title"] + " || Siv Kyne"} />
    <meta property="og:description" content={lang["text"].substring(0, 200) + "..."} />
    <title>{lang["title"]} || Siv Kyne</title>
</svelte:head>

<main class="flex flex-col gap-5">
    <Navbar page="/about" />

    <section class="container bg-slate-800 rounded-lg shadow-lg p-5 flex flex-col gap-5">
        <h1 class="text-2xl font-bold fira-bold">{lang["title"]}</h1>
        <hr/>
        <p class="text-sm lg:text-base">
            {@html lang["text"]}
        </p>
    </section>
</main>