<script>
    import Form from "$lib/elements/Form.svelte";
    import Social from "$lib/elements/Social.svelte";
    import Navbar from "$lib/header/Navbar.svelte";
</script>

<svelte:head>
    <meta property="og:title" content="Social || Siv Kyne" />
    <meta property="og:description" content="Siv Kyne's contact details and an email form!" />
    <title>Socials || Siv Kyne</title>
</svelte:head>

<main class="flex flex-col gap-5">
    <Navbar page="/contact" />

    <section class="container flex lg:flex-row flex-col gap-10 bg-slate-800 rounded-lg shadow-lg p-5">
        <div class="lg:w-2/4 flex flex-col gap-5">
            <h2 class="text-2xl font-bold font-mono">✉️ Mail me!</h2>
            <hr/>
            <Form />
        </div>

        <div class="lg:w-2/4 flex flex-col gap-5">
            <h2 class="text-2xl font-bold font-mono">💬 Find me online!</h2>
            <hr/>
            <div class="flex flex-wrap justify-center items-center gap-5">
                <Social href="https://twitter.com/SivKyne" icon="🐦" text="Twitter" />
                <Social href="https://discord.com/invite/5JCZTv3TtF" icon="💬" text="Discord" />
                <Social href="https://www.youtube.com/channel/UC1pnonYCZv1mi3XImhX35-A" icon="📺" text="YouTube" />
                <Social href="https://www.deviantart.com/sivkyne" icon="🖼️" text="DeviantArt" />
                <Social href="https://steamcommunity.com/id/sivkyne" icon="🎮" text="Steam" />
                <Social href="https://open.spotify.com/user/uqwz46n0jki4zdwiedca5gbp2" icon="🎵" text="Spotify" />
                <Social href="https://toyhou.se/sivkyne" icon="👪" text="Toyhouse" />
                <Social href="https://trello.com/b/JfPAzQyJ/siv-kynes-commission-queue" icon="📑" text="Trello" />
                <Social href="https://myanimelist.net/animelist/SivKyne" icon="🎞️" text="My Anime List" />
                <Social href="https://ko-fi.com/sivkyne" icon="☕" text="Ko-fi" />
                <Social href="https://paypal.me/sivkyne" icon="💰" text="PayPal" />
                <Social href="https://twitch.tv/sivkyne" icon="📹" text="Twitch" />
            </div>
        </div>
    </section>
</main>