<script>
    export let href;
    export let icon;
    export let text;
    export let target = "";
    import lang from "$lib/en-lang.json";
</script>

<a href={href} class="flex flex-col items-center gap-1 justify-center hover:scale-110 duration-100" target={target}>
    {#if lang["icons"][text.toLowerCase()]}
        <img src={lang["icons"][text.toLowerCase()]} class="h-16 aspect-square" alt={text} />
    {:else}
        <span class="text-4xl lg:text-6xl">{icon}</span>
    {/if}
    <span class="text-xs lg:text-sm text-gray-200 text-center">{text}</span>
</a>