<script>
    export let href = "";
    export let active = "";
    export let added_classes = "";

    let classes = "hover:bg-gradient-to-tr hover:from-red-500 hover:to-pink-500 bg-red-500 duration-300 active:translate-y-1 py-2 px-3 w-full rounded-lg shadow";

    if(active == "true") {
        classes += " bg-opacity-90";
    } else {
        classes += " bg-opacity-50";
    }

    classes += " " + added_classes;
</script>

<a href={href} class={classes} on:click>
    <slot />
</a>