<script>
    import Button from "./Button.svelte";

    export let page;
</script>

<section class="container bg-slate-800 rounded-lg shadow-lg p-3 flex flex-col lg:flex-row gap-3 justify-between justify-items-stretch items-center z-20">
    {#if page == "/"}
        <Button href="/" active="true">
            🏠 Home
        </Button>
    {:else}
        <Button href="/">
            🏠 Home
        </Button>
    {/if}

    {#if page == "/about"}
        <Button href="/about" active="true">
            📄 About me
        </Button>
    {:else}
        <Button href="/about">
            📄 About me
        </Button>
    {/if}

    {#if page == "/commissions"}
        <Button href="/commissions" active="true">
            🎨 Commissions
        </Button>
    {:else}
        <Button href="/commissions">
            🎨 Commissions
        </Button>
    {/if}

    {#if page == "/contact"}
        <Button href="/contact" active="true">
            ✉️ Socials
        </Button>
    {:else}
        <Button href="/contact">
            ✉️ Socials
        </Button>
    {/if}
</section>