<script>
    import words from "$lib/en-lang.json";
    import Calculator from "$lib/calculator/Calculator.svelte";
    import Button from "$lib/header/Button.svelte";

    let lang = words["calculator"];
</script>

<svelte:head>
    <meta property="og:title" content={lang["title"] + " || Siv Kyne"} />
    <meta property="og:description" content={lang["description"]} />
    <title>{lang["title"]} || Siv Kyne</title>
</svelte:head>

<main class="flex flex-col gap-5">
    <Calculator/>
</main>