<footer>
    <h4 class="text-center py-20 text-sm text-gray-200">
        copyright {new Date().getFullYear()} -- site made by <a href="https://bartindustries.com/" target="blank" class="hover:underline border-b border-dashed hover:border-b-0">midnight</a> -- art by siv kyne
    </h4>
</footer>