<script>
    import Accordion from "$lib/commissions/Accordion.svelte";
    import Item from "$lib/commissions/Item.svelte";
    import Social from "$lib/elements/Social.svelte";
    import words from "$lib/en-lang.json";
    import Navbar from "$lib/header/Navbar.svelte";

    let lang = words["commissions"];
</script>

<svelte:head>
    <meta property="og:title" content="Commission Info || Siv Kyne" />
    <meta property="og:description" content="Commission info, prices, trello queue and more" />
    <title>Commission Info || Siv Kyne</title>
</svelte:head>

<main class="flex flex-col gap-5">
    <Navbar page="/commissions" />

    <section class="container bg-slate-800 rounded-lg shadow-lg p-5 flex flex-col">
        <h2 class="flex gap-2 items-end">
            <span class="font-bold text-green-500 text-xl">Pro Tip!</span>
            Press on the pictures to visit them in the Commission Picker
        </h2>
    </section>

    {#each lang["accordions"] as accordion}
        <Accordion title={accordion["title"]} id={accordion["id"]} note={accordion["note"]} autoOpen={accordion["autoOpen"]}>
            <div class="grid grid-cols-1 lg:grid-cols-{accordion["cols"]} gap-5">
                {#each accordion["items"] as item}
                    <Item picture={item["picture"]} name={item["name"]} price={item["price"]} note={item["note"]} link={item['link']} />
                {/each}
            </div>
        </Accordion>
    {/each}

    <section class="container bg-slate-800 rounded-lg shadow-lg p-5 flex flex-col">
        <div class="flex flex-wrap justify-center items-center gap-5">
            <Social href="https://trello.com/b/JfPAzQyJ/siv-kynes-commission-queue" icon="📑" text="Commission Queue" />
            <Social href="https://ko-fi.com/sivkyne" icon="☕" text="Ko-fi" />
            <Social href="https://paypal.me/sivkyne" icon="💰" text="PayPal" />
            <Social href="/contact" icon="✉️" text="Contact" />
            <Social href="/commissions/tos" icon="⚖️" text="Terms of Service" />
            <Social href="/calculator" icon="🧮" text="Commission Picker" />
        </div>
    </section>

    <div class="grid-cols-1"></div>
    <div class="grid-cols-2"></div>
    <div class="grid-cols-3"></div>
</main>