<script>
    import Navbar from "$lib/header/Navbar.svelte";
    import words from "$lib/en-lang.json";

    let lang = words["tos"];
</script>

<svelte:head>
    <meta property="og:title" content={lang["title"] + " || Siv Kyne"} />
    <meta property="og:description" content={lang["description"]} />
    <title>{lang["title"]} || Siv Kyne</title>
</svelte:head>

<main class="flex flex-col gap-5">
    <Navbar page="/commissions" />

    <section class="container bg-slate-800 rounded-lg shadow-lg p-5 flex flex-col gap-5">
        <span>
            <h1 class="text-2xl font-bold fira-bold">{lang["title"]}</h1>
            <h3 class="text-gray-300 italic text-sm">{lang["lastEdit"]}</h3>
        </span>
        <hr/>
        <p class="text-sm lg:text-base">
            {@html lang["text"]}
        </p>
    </section>
</main>