<script>
    export let name;
    export let price;
    export let picture = null;
    export let note = null;
    export let link = null;
</script>

{#if link != null}
    <a href={link} class="flex flex-col items-center gap-2">
        <span class="w-full flex justify-between">
            <h3 class="text-xl font-bold break-words">{name}</h3>
            <span><span class="bg-green-500 py-1 text-sm px-5 rounded-lg">from {price}</span></span>
        </span>
        {#if note}
            <p class="text-sm text-gray-200 w-full">{@html note}</p>
        {/if}
        {#if picture}
            <img src={picture} alt={name} class="w-full rounded-xl shadow" />
        {:else}
            <p class="p-2 italic text-gray-200 bg-gray-700 rounded-xl shadow w-full flex justify-center items-center text-center aspect-square">Example TBA</p>
        {/if}
    </a>
{:else}
    <div class="flex flex-col items-center gap-2">
        <span class="w-full flex justify-between">
            <h3 class="text-xl font-bold break-words">{name}</h3>
            <span><span class="bg-green-500 py-1 text-sm px-5 rounded-lg">{price}</span></span>
        </span>
        {#if note}
            <p class="text-sm text-gray-200 w-full">{@html note}</p>
        {/if}
        {#if picture}
            <img src={picture} alt={name} class="w-full rounded-xl shadow" />
        {:else}
            <p class="p-2 italic text-gray-200 bg-gray-700 rounded-xl shadow w-full flex justify-center items-center text-center aspect-square">Example TBA</p>
        {/if}
    </div>
{/if}