@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,900;1,100;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'FiraCode_Regular';
	src: url('/FiraCode-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'FiraCode_Bold';
	src: url('/FiraCode-Bold.ttf') format('truetype');
}

.fira {
	font-family: 'FiraCode_Regular';
}

.fira-bold {
	font-family: 'FiraCode_Bold';
}

hr {
	background-color: rgb(255, 255, 255, 0.3);
	height: 3px;
	border: unset;
	width: 100%;
	margin: 0.5em 0;
}
